<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330320256587-cqqrdb5qq420k3s99pbi7ha1mbt3nbjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330320256587-cqqrdb5qq420k3s99pbi7ha1mbt3nbjo</string>
	<key>API_KEY</key>
	<string>AIzaSyBg6u8-as67vTRtdtKQVjzJ2B_-7XvE3TA</string>
	<key>GCM_SENDER_ID</key>
	<string>330320256587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tourjahan1</string>
	<key>STORAGE_BUCKET</key>
	<string>tourjahan1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330320256587:ios:ece38301e831ad45a277ce</string>
</dict>
</plist>